<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Administrateur ProLine</title>
</head>
<body>
    
    <h1>Vous pouvez configurer vos accès<h1>
        <ul style="list-style: none">
            <li style="display: inline-block; padding: 10px 20px;">
                <a href="/">Appli_web1</a>
            </li>
            <li style="display: inline-block; padding: 10px 20px;">
                <a href="/Appli_web2/">Appli_web2</a>
            </li>
            <li style="display: inline-block; padding: 10px 20px;">
                <a href="/Appli_web_Admin/">Appli_web_Admin</a>
            </li>
        </ul>    
    
        {% block contenu %} {% endblock %}
</body>
</html>